{% extends "member/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "style/css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "style/css/dashboard.css" %}" />
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block object-tools %}{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/member/main">会员首页</a>
&rsaquo; {{ opts.verbose_name_plural|capfirst }}
&rsaquo; {{ original.name|truncatewords:"18" }}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

<script type="text/javascript">

function panel_switch(id_name)
{
    ele=document.getElementById(id_name);
    if(ele.style.display=='none')
    {
        document.getElementById(id_name+"-status").innerText="∧";
        ele.style.display='block';
    }else{
        document.getElementById(id_name+"-status").innerText="∨";
        ele.style.display='none';
    }
}

</script>


<div class="inline-group" id="bank_agreement">

<div class="inline-related has_original" id="agreements" style="display:block">

<div class="leftdiv">
<h2>战略合作协议</h2>
    <ul>
        <li><p>
            <a href="/member/bankattachment/add/"><img width="100px" src="/static/style/img/new_agreement.png"><br/><b>点击上传</b></a>
        </p></li>
        {% for agreement in strategic_agreements %}
            <li><p>
            <!-- todo js pop pic out -->
            {% if agreement.thumbnail %}
                <a target="_blank" href="/bank/{{ bank_id }}/attachment/{{ agreement.name }}"><img width="100px" src="/bank/{{ bank_id }}/attachment/thumbnail/{{ agreement.name }}"></a>
            {% else %}
                <a target="_blank" href="{{ agreement.file.url }}"><img width="100px" src="/static/style/img/doc.png"></a>
            {% endif %}
            <br/>{{ agreement.create_time | date:'y/m/j H:i' }}
            </p></li>
        {% endfor %}
    </ul>
</div>
<div class="rightdiv">
<h2>执行合作协议</h2>
    <ul>
        <li><p>
            <a href="/member/bankattachment/add/"><img width="100px" src="/static/style/img/new_agreement.png"><br/><b>点击上传</b></a>
        </p></li>
        {% for agreement in execution_agreements %}
            <li><p>
            <!-- todo js pop pic out -->
            {% if agreement.thumbnail %}
                <a target="_blank" href="/bank/{{ bank_id }}/attachment/{{ agreement.name }}"><img width="100px" src="/bank/{{ bank_id }}/attachment/thumbnail/{{ agreement.name }}"></a>
            {% else %}
                <a target="_blank" href="{{ agreement.file.url }}"><img width="100px" src="/static/style/img/doc.png"></a>
            {% endif %}
            <br/>{{ agreement.create_time | date:'y/m/j H:i' }}
            </p></li>
        {% endfor %}
    </ul>
</div>
</div>

</div>

{% endblock %}

{% block after_field_sets %}{% endblock %}

<div name="inline" id="inline" style="clear:both" ></div>

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

<div class="submit-row">
<input type="submit" value="审核通过" class="default" name="_continue">
</div>

{% if adminform and add %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            });
        })(django.jQuery);
    </script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

{% endblock %}



 <!-- template name: bank_agreement_form.html -->
