{% extends "management/base_site.html" %}
{% load i18n admin_static transaction_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "style/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
欢迎登陆，{{ user_profile.groupname }} {{ user_profile.name }}
</br>
</br>
<div id="content-main">
    <div class="app-user module">
    <table id="formset" class="form">
    <caption>等待审核的汇票</caption>
      <thead><tr>
        <th>汇票单号</th>
        <th>贴现服务订单</th>
        <th>贴现银行</th>
        <th>金额</th>
        <th>入票快递</th>
        <th>出票快递</th>
        <th>收票时间</th>
        <th>收票</th>
        <th>入库</th>
        <th>验票</th>
        <th>出库</th>
      </tr></thead>
    {% if pending_tickets %}
        {% for order in pending_tickets %}
            <tr class="row2">
            <td><b><a href="/staff/ticket/transactionticket/{{ order.id }}"> {{ order.number }}</a></b></td>
            <td>{{ order.transaction_link|safe }}</td>
            <td>{{ order.ticket_bank.name }}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.receive_ems }}</td>
            <td>{{ order.send_ems }}</td>
            <td>{{ order.create_time }}</td>
            {% for item in order.show_director_link %}
                <td>{{ item|safe }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td colspan="11" style="text-align: center"><b><a href="/staff/ticket/transactionticket/?status__in=RECEIVED_PENDING,VERIFIED_PENDING,CHECKIN_PENDING,CHECKOUT_PENDING">查看全部</a></b></td>
        </tr>
    {% endif %}
    </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>导航菜单</h2>
        <h3>贴现服务</h3>
            <ul class="actionlist">
            <br/>
            <li class="changelink">
                    <a href="/staff/transaction/transactionorder/?ticket_status__in=RECEIVED_PENDING,VERIFIED_PENDING,CHECKIN_PENDING,CHECKOUT_PENDING">相关的贴现服务</a>
                <br/><br/>
            </li>
            <li class="changelink">
                    <a href="/staff/transaction/transactionorder/?ticket_status__in=RECEIVED,VERIFIED,CHECKIN,CHECKOUT,ABORT,ABOR_PENDINGT">其它的贴现服务</a>
                <br/><br/>
            </li>
            </ul>
        <h3>汇票管理</h3>
            <ul class="actionlist">
            <br/>
            <li class="changelink">
                    <a href="/staff/ticket/transactionticket/?status__in=RECEIVED,VERIFIED,CHECKIN,RECEIVED_PENDING,VERIFIED_PENDING,CHECKIN_PENDING,CHECKOUT_PENDING">正在进行的汇票</a>
                <br/><br/>
            </li>
            <li class="changelink">
                    <a href="/staff/ticket/transactionticket/?status__exact=CHECKOUT">已完成的汇票</a>
                <br/><br/>
            </li>
            </ul>
        <h3>{% trans '安全设置' %}</h3>
            <ul class="actionlist">
                <br/>
            <li class="changelink">
                    <a href="/staff/management/staff/{{ user_id }}/">查看信息</a>
                <br/><br/>
            </li>
            <li class="changelink">
                    <a href="/management/password_change/">修改密码</a>
                <br/><br/>
            </li>
            </ul>
    </div>
</div>
{% endblock %}
